body{
    margin:0;
      font-family: Arial;
      background-image: url("fred.jpg");
      background-size: cover;
      background-size: 1290px;
      
}

.menus{
    
      background:linear-gradient(#0be353 30%, #efb907 40%, #ea059a);
        
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.menus h1{
    color: white;
    margin: 5px;
    font-size: 22px;
}

.menus span{
    color: orange;
}

.nav{
    margin-top: 5px;
}

.nav a{
    text-decoration: none;
    color:white;
    margin: 0 15px;
    font-size: 16px;
}

.nav a:hover{
    color: orange;
}
h2{
    color: white;
    position: relative;
    left: 600px;
}
span{
    color: orange;
}
h3{
    color: white;
    position: relative;
    left: 300px;
    bottom: -40px;
    font-size: 30px;
    .face{
        height: 20px;
        width: 20px;
    }
}
.face {
    color: white;
    background-color: rgb(54, 54, 203);
    padding: 10px;
      height: 20px;
        width: 20px;
        position: relative;
        left: 650px;
        border-radius: 100px;
        text-align: center;

}
.face h1{
    position: relative;
    bottom: 50px;
    font-size: 50px;
}